h1{
  text-align: center;
}
.table-container{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
.table-striped{
  border: 1px solid black;
  width: 80%;
}
.table-striped td{
  border: 1px solid black;
  text-align: center;

}
.chart-container{
  height: 400px;
}
