<nav #nav>
  <div
    class="dropdownBackground"
    #dropdownBackground
    [ngStyle]="dynamicBackgroundStyles"
  >
    <!-- <span class="arrow" #arrow></span> -->
  </div>

  <ul class="ul">
    <li #triggerElement>
      <a routerLink="" class="btn-primary">Home</a>
    </li>
    <li #triggerElement>
      <a
        (mouseenter)="showDropdown($event)"
        (mouseleave)="hideDropdown()"
        class="btn-primary"
        >About Me</a
      >
      <div class="dropdown about" #about>
        <img [src]="navbar.about.src" />
        <p>{{ navbar.about.text }}</p>
      </div>
    </li>
    <li #triggerElement>
      <a
        (mouseenter)="showDropdown($event)"
        (mouseleave)="hideDropdown()"
        [routerLink]="navbar.contact.href"
        class="btn-primary"
        >Contact</a
      >
      <div class="dropdown contact" (mouseleave)="hideDropdown()">
        <p>
          {{ navbar.contact.text }}
          <b>07896145237</b>
          <br /><br />
          Email me on:
          <b>Harveyy7&#64;gmail.com</b>
          <br />
        </p>
        <!-- <div class="social-links">
          <a href="https://github.com/Harveyj7">
            <img [src]="'assets/images/iglogo.png'"
          /></a>
          <a href="https://www.linkedin.com/in/harvey-j-51650388/">
            <img [src]="'assets/images/linkedin.png'"
          /></a>
        </div> -->
      </div>
    </li>

    <!-- Authentication section -->
    <li
      #triggerElement
      *ngIf="currentUser() as user; else loginSection"
      class="auth-section"
    >
      <a
        (mouseenter)="showDropdown($event)"
        (mouseleave)="hideDropdown()"
        class="btn-primary user-menu"
        (click)="logout()"
        >Logout</a
      >
      <div class="dropdown user-dropdown" (mouseleave)="hideDropdown()">
        <p>Welcome, {{ user.email }}</p>
      </div>
    </li>

    <ng-template #loginSection>
      <li #triggerElement class="auth-section">
        <a (click)="openLoginModal()" class="btn-primary login-btn">Login</a>
      </li>
    </ng-template>
  </ul>
</nav>
