<nav>
  <ul class="ul">
    <li >
      <a routerLink="" class="btn-primary">Home</a>
    </li>
    <li >
      <a (mouseenter)="showPopover(aboutmeState)"
         (mouseleave)="hidePopover(aboutmeState)"
        class="btn-primary"> About Me </a>
      @if (aboutmeState.show()){
        <div class="mid-width popover-dialog">
          <img [src]="navbar.about.src" />
          {{aboutmeState.content()}}
        </div>
      }
    </li>
    <li >
      <a (mouseenter)="showPopover(contactState)"
         (mouseleave)="hidePopover(contactState)" [routerLink]="navbar.contact.href"
         class="btn-primary "> Contact </a>
      @if (contactState.show()){
        <div class="popover-dialog">
          {{contactState.content()}}
          <a href="mailto:Harveyy7@gmail.com">Harveyy7&#64;gmail.com</a>
        </div>
      }
    </li>
    @if (this.currentComponent === 'tableau') {
      <li >
        <a (mouseenter)="showPopover(infoState)"
          (mouseleave)="hidePopover(infoState)"
          class="btn-primary ">
          Information
        </a>
        @if (infoState.show()){
        <div class="mid-width popover-dialog">
          <p>{{ infoText }}</p>
        </div>
        }
      </li>
    }
    <h1 class="title">{{this.currentComponent}}</h1>
    <h1 class="title">Harvey - Projects</h1>
    @if (currentUser()) {
    <li class="auth-section">
      <a
          (mouseenter)="showPopover(loginState)"
          (mouseleave)="hidePopover(loginState)"
          class="btn-primary login-btn"
          (click)="logout()"
        >Logout</a>
    </li>
<!--      @if (loginState.show()){-->
<!--        <div class="user-dropdown" >-->
<!--          <p>Welcome, {{ currentUser()?.email }}</p>-->
<!--        </div>-->
<!--      }-->
    } @else {
    <li class="auth-section">
        <a (click)="openLoginModal()" class="btn-primary login-btn">Login</a>
    </li>
    }

  </ul>
</nav>
