<nav>
  <div class="dropdownBackground">
    <span class="arrow"></span>
  </div>

  <ul>
    <li (mouseenter)="showDropdown($event)" (mouseleave)="hideDropdown()">
      <a href="#">About Me</a>
      <div class="dropdown about">
        <img [src]="projects.about.src" />
        <p>{{ projects.about.text }}</p>
      </div>
    </li>
    <li (mouseenter)="showDropdown($event)" (mouseleave)="hideDropdown()">
      <a href="contact.html">Contact</a>
      <div class="dropdown contact">
        Contact me through mobile on:
        <b>07896145237</b>

        Or email me on:
        <b>Harveyy7&#64;gmail.com</b>
      </div>
    </li>
    <li (mouseenter)="showDropdown($event)" (mouseleave)="hideDropdown()">
      <a href="#">Media Links </a>
      <div class="dropdown social">
        <a href="https://github.com/Harveyj7">
          <img [src]="'assets/images/iglogo.png'" width="50px"
        /></a>
        <a href="https://www.linkedin.com/in/harvey-j-51650388/">
          <img [src]="'assets/images/linkedin.png'" width="50px"
        /></a>
      </div>
    </li>
  </ul>
</nav>
