@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

* {
  font-family: "Bree Serif", serif;
}
.container{
  padding: 0 12%;
}

.text {
  font-size: 20px;
}

@media (max-width: 1000px) {
  .title {
    padding: 0 8%;
    font-size: 30px;
  }
}

@media (max-width: 550px) {
  .text {
    font-size: 15px;
  }
}
